{% extends "base.html" %}

{% block page_title %}
    Monthly Challenges
{% endblock page_title %}

{% block content %}
    <h2>
        Monthly Challenges
    </h2>
    <ul>
        {% for month in months %}
            <li>
                {% comment %} 
                    Here url acts as the reverse function in fetching the 
                    url for a particular method using it's name.
                {% endcomment %}
                <h3><a href="{% url 'month-challenge' month %}">
                    {{ month|title }}
                </a></h3>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}